/*CARACTERISTICAS DEL BODY DE TODAS LAS PAGINAS*/
body{
  font-family: 'SF Pro';
  margin: 0;
  padding: 0;
  height: 100vh;
}
/*ELEMENTOS DE PAGINA INICIO*/
.login { /*boton inicio de sesion*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 620px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.register{ /*boton registro*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 770px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
}
.ingresar { /*boton inicio de sesion*/
  position: absolute;
  width: 300px;
  height: 52px;
  left: 553px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: left;
  color: black;
  text-decoration: none;
}

.pontilaunch{ /*titulo de la pagina*/
  
position: absolute;
width: 200px;
height: 200px;
left: 380px;
top: 150px;

font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;
color: #F56262;
}

.pontilaunch1{ /*titulo 2 de la pagina*/
  position: absolute;
width: 200px;
height: 200px;
left: 370px;
top: 150px;


font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;

color: #FFD480;
}

.descripcion{ /*descripcion bajo el titulo*/
  position: absolute;
width: 740px;
height: 156.18px;
left: 370px;
top: 325px;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 153px;
text-align: center;
color: #F94F00;
}

/*ELEMENTOS DE LA PAGINA LOGIN*/
form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form p{
  position: absolute;
width: 400x;
height: 43px;
left: 50%;
top: 25%;
transform: translate(-50%, -50%);
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #000000;

}

.ust{
  top: 100%;
}

.pass{
  
}
