body{
  font-family: 'SF Pro';
  position: absolute;
}
/*ELEMENTOS DE PAGINA INICIO*/
.ingresar{
  position: absolute;
  width: 230px;
  height: 52px;
  left: 483px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.login { /*boton inicio de sesion*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 620px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.register{ /*boton registro*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 770px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
}

.pontilaunch{ /*titulo de la pagina*/
  
position: absolute;
width: 740px;
height: 156.18px;
left: 380px;
top: 150px;

font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;
color: #F56262;
}

.pontilaunch1{ /*titulo 2 de la pagina*/
  position: absolute;
width: 740px;
height: 156.18px;
left: 370px;
top: 150px;


font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;

color: #FFD480;
}

.descripcion{ /*descripcion bajo el titulo*/
  position: absolute;
width: 740px;
height: 156.18px;
left: 370px;
top: 325px;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 153px;
text-align: center;
}
/* HEAD */
.head{
  width: 100%;
  height: 90px;
  background: #faf8f8;
  position:fixed;
  left: 0%;
  top: 0%;
}

/*INICIO DE SESIÓN*/

.volver{
  width: 300px;
  position: absolute;
  top: 430px;
  left: 700px;
}

.inicio p{
  width: 300px;
  position: absolute;
  top: 250px;
  left: 725px;
}
.lg{ 
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 300px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 100spx;
  transition: all .5s;
}

.lg1{ 
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 350px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 220px;
  transition: all .5s;
}

.sub{
  width: 100px;
  position: absolute;
  top: 430px;
  left: 780px;

}

/*REGISTRARSE*/

.lg2{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 200px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 100spx;
  transition: all .5s;
}
.lg3{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 300px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 100spx;
  transition: all .5s;
}
.lg3{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 500px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 100spx;
  transition: all .5s;
}
.lg4{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 400px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  width: 100spx;
  height: 35px;
  transition: all .5s;
}
.lg5{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 300px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #D9D9D9 ;
  background-color: #D9D9D9;
  height: 35px;
  width: 100spx;
  transition: all .5s;
}

.registro{
  position: absolute;
  top: 140px;
  left: 725px;
  width: 200px;
  align-items: center;
}

.registrarse{
  position: absolute;
  top: 570px;
  left: 770px;
  width: 200px;
  align-items: center;
}

.volver1{
  width: 300px;
  position: absolute;
  top: 570px;
  left: 700px;
}


/* PONTILAUNCH */
.selecc{
  width: 30px;
  height: 5px;
  background: #F56262;
  position:fixed;
  left: 75%;
  top: 9.5%;
  border-radius: 1vh;
  z-index: 1;
}
.pontilaunchHome{ /*titulo de la pagina arriba a la derecha */
  position: fixed;
  left: 44px;
  font-style: normal;
  font-size: 25px;
  line-height: 17px;
  text-align: center;
  color: #F56262;
  }
  
  .pontilaunch1Home{ /*titulo 2 de la pagina arriba a la derecha*/
    position: fixed;
    left: 40px;
    font-style: normal;
    font-size: 25px;
    line-height: 17px;
    text-align: center;  
  color: #FFD480;
  }

/* ICONOS */
.casa img{ /*icono del home arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 75%;
}
.comentario img{ /*icono de comentario arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 80%;
}
.salir img{ /*icono de cerrar sesion arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 85%;
}
.usuarioIcon{ /* icono usuario parte izquierda  */
  position: fixed;
  width: 30px;
  height: 30px;
  top: 22%;
  left: 75%;
}
.proyectIcon{ /* icono proyecto parte izquierda */
  position: fixed;
  width: px;
  height: 1px;
  top: 43%;
  left: 75%;
}

/* Rectangulos en la parte izquierda */

.rectanguloUser { /* Rectangulo amarillo */ 

  width: 285px;
  height: 120px;
  background: #FFD480;
  position:fixed;
  left: 73%;
  top: 18%;
  border-radius: 3vh;
}
.rectanguloProyect { /* Rectangulo rojo */

  width: 285px;
  height: 75px;
  background: #FCA180;
  position:fixed;
  left: 73%;
  top: 40%;
  border-radius: 3vh;
}
.rectanguloadmuser { /* Rectangulo gris */

  width: 285px;
  height: 75px;
  background: #D9D9D9;
  position:fixed;
  left: 73%;
  top: 64%;
  border-radius: 3vh;
}
/* Texto para el home home */

.usuarioText h1{ /* texto usuario en rectangulo amarillo */
  position: fixed;
  left: 81%;
  top:22%;
  font-style: normal;
  font-size: 30px;
  line-height: 17px;
  text-align: center;  
  color: #070707;
  font-weight: 400;

}
.proyecText h1{ /* texto proyecto en rectangulo rojo */
  position: fixed;
  left: 79%;
  top:43%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;

}

/*VISTA COORDINADOR*/

.usuarioText1 h1{
  position: fixed;
  left: 80%;
  top:22%;
  font-style: normal;
  font-size: 30px;
  line-height: 17px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.rectanguloGest{
  width: 285px;
  height: 75px;
  background: #F56262;
  position:fixed;
  left: 73%;
  top: 52%;
  border-radius: 3vh;
}

.proyectGest h1{
  position: fixed;
  left: 79%;
  top:55%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.adminuser h1{
  position: fixed;
  left: 79%;
  top:67%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.admfoto img{ /*icono de cerrar sesion arriba a la izquierda*/
  position: fixed;
  width: 40px;
  height: 40px;
  top: 54%;
  left: 74.7%;
}

.admuserIcon img{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 66.4%;
  left: 74.7%;
}