body{
  font-family: 'SF Pro';
  position: absolute;
  background-color: #FFF9ED;
}
/*ELEMENTOS DE PAGINA INICIO*/
.ingresar{
  position: absolute;
  width: 230px;
  height: 52px;
  left: 483px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.login { /*boton inicio de sesion*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 620px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.register{ /*boton registro*/
  position: absolute;
  width: 230px;
  height: 52px;
  left: 770px;
  top: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: black;
}

.pontilaunch{ /*titulo de la pagina*/
  
position: absolute;
width: 740px;
height: 156.18px;
left: 380px;
top: 150px;

font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;
color: #F56262;
}

.pontilaunch1{ /*titulo 2 de la pagina*/
  position: absolute;
width: 740px;
height: 156.18px;
left: 370px;
top: 150px;


font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 153px;
text-align: center;

color: #FFD480;
}

.descripcion{ /*descripcion bajo el titulo*/
  position: absolute;
width: 740px;
height: 156.18px;
left: 370px;
top: 325px;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 153px;
text-align: center;
}


/* HEAD */
.head{
  width: 100%;
  height: 90px;
  background: #FFF9ED;
  position:fixed;
  left: 0%;
  top: 0%;
}

/*INICIO DE SESIÓN*/

.volver{
  width: 85px;
  position: absolute;
  top: 430px;
  left: 700px;
  border: 0ch;
  text-align: center;
  line-height: 29px;
  border-radius: 11px;
  margin: 0px auto;
  background-color: #FCA180;
}

.inicio p{
  width: 300px;
  position: absolute;
  top: 250px;
  left: 725px;
  
}
.lg{ 
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 300px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 100spx;
  
}

.lg1{ 
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 350px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}
.bad{
  position: absolute;
  width: 740px;
  height: 156.18px;
  left: 735px;
  top: 400px;

}
.sub{
  width: 100px;
  position: absolute;
  top: 430px;
  left: 855px;
  height: 30px;
  width: 80px;
  align-items: center;
  border: 0ch;
  border-radius: 11px;
  background-color: #FFFE9F;
  font-family: 'SF Pro';
  font-size: 16px;
}

/*REGISTRARSE USUARIO NORMAL*/

.estudre{
  position: absolute;
  top: 160px;
  left: 840px;
  width: 100px;
  align-items: center;
}

.usuareg{
  position: absolute;
  top: 160px;
  left: 725px;
  width: 100px;
  align-items: center;
}

.lg2{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 200px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 100spx;
  
}

.lg3{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 390px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 100spx;
  
}
.lg4{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 450px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  width: 100spx;
  height: 35px;
  
}
.lg5{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 330px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.lg6{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 260px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}


.registro{
  position: absolute;
  top: 110px;
  left: 715px;
  width: 200px;
  align-items: center;
}

.fech{
  position: absolute;
  top: 293px;
  left: 703px;
  width: 200px;
  align-items: center;
}

.terminos{
  position: absolute;
  top: 510px;
  left: 570px;
}

.terminos1{
  position: absolute;
  top: 510px;
  left: 600px;
  width: 500px;
  height: 10px;
}

.reguser{
  width: 55px;
  height: 5px;
  background: #F56262;
  position:fixed;
  left: 47.5%;
  top: 25%;
  border-radius: 1vh;
  z-index: 1;
}

.regestud{
  width: 74px;
  height: 5px;
  background: #F56262;
  position:fixed;
  left: 55.1%;
  top: 25%;
  border-radius: 1vh;
  z-index: 1;
}

.registrarse{
  position: absolute;
  top: 590px;
  left: 760px;
  height: 30px;
  width: 100px;
  align-items: center;
  border: 0ch;
  border-radius: 11px;
  background-color: #FFFE9F;
  font-family: 'SF Pro';
  font-size: 16px;
}


.volver1{
  height: 30px;
  width: 80px;
  position: absolute;
  top: 80px;
  left: 770px;
  border: 0ch;
  text-align: center;
  line-height: 29px;
  border-radius: 11px;
  margin: 0px auto;
  background-color: #FCA180;
  
}

/*REGISTRARSE USUARIO ESTUDIANTE*/

.elg2{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 200px;
  left: 570px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 100spx;
  
}

.elg3{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 260px;
  left: 570px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 100spx;
  
}
.elg4{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 260px;
  left: 820px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  width: 100spx;
  height: 35px;
  
}
.elg5{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 330px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.elg6{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 200px;
  left: 820px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.elg7{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 390px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.elg8{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 450px;
  left: 700px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.elg9{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 450px;
  left: 950px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}

.elg10{
  padding: 5px 5px 5px 8px;
  position: absolute;
  top: 450px;
  left: 445px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 220px;
  
}


.Eregistrarse{
  position: absolute;
  top: 585px;
  left: 760px;
  height: 30px;
  width: 100px;
  align-items: center;
  border: 0ch;
  border-radius: 11px;
  background-color: #FFFE9F;
  font-family: 'SF Pro';
  font-size: 16px;
}

.terminos2{
  position: absolute;
  top: 510px;
  left: 600px;
  width: 500px;
  height: 10px;
}



/* PONTILAUNCH */
.selecc{
  width: 30px;
  height: 5px;
  background: #F56262;
  position:fixed;
  left: 75%;
  top: 9.5%;
  border-radius: 1vh;
  z-index: 1;
}
.pontilaunchHome{ /*titulo de la pagina arriba a la derecha */
  position: absolute;
  left: 37px;
  font-style: normal;
  font-size: 25px;
  line-height: 17px;
  text-align: center;
  color: #F56262;
  }
  
  .pontilaunch1Home{ /*titulo 2 de la pagina arriba a la derecha*/
    position: absolute;
    left: 32px;
    font-style: normal;
    font-size: 25px;
    line-height: 17px;
    text-align: center;  
  color: #FFD480;
  }

/* ICONOS */
.casa img{ /*icono del home arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 75%;
}
.comentario img{ /*icono de comentario arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 80%;
}
.salir img{ /*icono de cerrar sesion arriba a la izquierda*/
  position: fixed;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 85%;
}
.usuarioIcon{ /* icono usuario parte izquierda  */
  position: fixed;
  width: 30px;
  height: 30px;
  top: 22%;
  left: 75%;
}
.proyectIcon{ /* icono proyecto parte izquierda */
  position: fixed;
  width: px;
  height: 1px;
  top: 43%;
  left: 75%;
}
.mensjent{
  position: absolute;
  top:80px;
  left: 500px;
  width: 500px;
}
/* Rectangulos en la parte derecha */

.rectanguloUser { /* Rectangulo naranja */ 

  width: 285px;
  height: 120px;
  background: #FFD480;
  position:fixed;
  left: 73%;
  top: 18%;
  border-radius: 3vh;
}
.rectanguloProyect { /* Rectangulo rojo */

  width: 285px;
  height: 75px;
  background: #FCA180;
  position:fixed;
  left: 73%;
  top: 40%;
  border-radius: 3vh;
}
.rectanguloQuejas{ /* Rectangulo gris */

  width: 100px;
  height: 40px;
  background: #D9D9D9;
  position:fixed;
  left: 1425px;
  top: 695px;
  b
}

.todo{
  position: relative;
}


.rectanguloProyect:hover {
  border: 2px solid black ;
}


.rectanguloPubli { /* Rectangulo gris */
  width: 800px;
  height: 170px;
  background: #D9D9D9;
  position:relative;
  left:80px;
  top: 360px;
  border-radius: 3vh;
  z-index: -1;
  display: flex;
}

/* Texto para el home home */

.usuarioText h1{ /* texto usuario en rectangulo amarillo */
  position: fixed;
  left: 81%;
  top:22%;
  font-style: normal;
  font-size: 30px;
  line-height: 17px;
  text-align: center;  
  color: #070707;
  font-weight: 400;

}
.proyecText h1{ /* texto proyecto en rectangulo rojo */
  position: fixed;
  left: 79%;
  top:43%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;

}
.quejasText h1{ /* texto usuario en rectangulo gris */
  position: fixed;
  left: 1450px;
  top:693px;
  font-style: normal;
  font-size: 20px;
  line-height: 17px;
  text-align: center;  
  color: #070707;
  font-weight: 400;

}
.pub{
  width: 800px;
  height: 350px;
  background: #D9D9D9;
  position:relative;
  left:100px;
  top: 100px;
  border-radius: 3vh;
  margin-bottom: 50px;
}



.pub .tit{
  position: relative;
  top: 10%;
  left: 5%;
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  display: flex;
  padding: 0%;
  margin: 0%;

}


.pub .sed{
  position: relative;
  top:82%;
  left: 72%;
  font-size: 16px;
  width: 180px;
  text-align: right;
  display:flex ;
  padding: 0%;
  margin: 0%;
}

.pub .yt {
  position: relative;
  top:0%;
  left: 60%;
  display: flex;
  border-radius: 3vh;
}

.pub .des{
  position: relative;
  top:-50%;
  left:5%;
  font-size: 16px;
  width: 400px;
  height: 100px;
  display: flex;
  padding: 0%;
  margin: 0%;
}

.pub .fec{
  position: relative;
  top:-10%;
  left: 85%;
  font-size: 16px;
  width: 150px;
  display: flex;
  padding: 0%;
  margin: 0%;
}
.cu{
  
  position: relative;
  left: 0%;
  top: 0%;
  display: flex;
  font-size: 16px;
  width: 800px;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 11px;
}

.boton{
  left: 5%;
  top: -50%;
  position: relative;
}
.pub .coment1{
  left: 27%;
  top: -80%;
  display: flex;
  position: relative;
  background-color: #F0F0F0;
  border-radius: 11px;
  border: 0ch;
  width: 30%;
  height: 15%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.pub .coment2{
  position: relative;
  left: 40%;
  top: -77%;
  display: flex;
  height: 35px;
  width: 75px;
  align-items: center;
  border: 0ch;
  border-radius: 11px;
  background-color: #FFD480;
  font-family: 'SF Pro';
  font-size: 16px;
}
.coment2:hover {
  background-color: #FCA180;
}

.coments p{
  position: relative;
  left: 140px;
  top: -470px;
  display: flex;
  height: 20px;
  width: 100px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-right: 0;
}
.pub .contact{
  position: relative;
  left: 50%;
  top: -46.5%;
  display: flex;
  height: 35px;
  width: 62px;
  align-items: center;
  border: 0ch;
  padding: 0px 5px;
  border-radius: 11px;
  background-color: #F56262;
  font-family: 'SF Pro';
  font-size: 16px;
  text-align: center;
  
}

.califi{
  position: relative;
  left: 5%;
  top: -75%;
  display: flex;
  
}

/*VISTA COORDINADOR*/

.usuarioText1 h1{
  position: fixed;
  left: 80%;
  top:22%;
  font-style: normal;
  font-size: 30px;
  line-height: 17px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.rectanguloGest{
  width: 285px;
  height: 75px;
  background: #F56262;
  position:fixed;
  left: 73%;
  top: 36%;
  border-radius: 3vh;
}

.rectanguloadmuser { /* Rectangulo gris */

  width: 285px;
  height: 75px;
  background: #F0F0F0;
  position:fixed;
  left: 73%;
  top: 48%;
  border-radius: 3vh;
}

.proyectGest h1{
  position: fixed;
  left: 79%;
  top:39%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.adminuser h1{
  position: fixed;
  left: 79%;
  top:51%;
  font-style: normal;
  font-size: 15px;
  line-height: 10px;
  text-align: center;  
  color: #070707;
  font-weight: 400;
}

.admfoto img{ /*icono de gestion de iniciativas*/
  position: fixed;
  width: 40px;
  height: 40px;
  top: 38.3%;
  left: 74.7%;
}

.admuserIcon img{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50.5%;
  left: 74.7%;
}

/*CREACION DE PROYECTOS*/

.publi1{
  position: absolute;
  top: 180px;
  left: 500px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 300px;
  font-size: 16px;
  text-align: center;
}

.publi2{
  position: absolute;
  top: 180px;
  left: 810px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 300px;
  font-size: 16px;
  text-align: center;
}

.publi3{
  position: absolute;
  top: 230px;
  left: 500px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 250px;
  width: 610px;
  font-size: 16px;
  text-align: center;
}
.ed h1{
  position: absolute;
  top: 110px;
  left: 500px;
  width: 290px;
}
.pdf{
  position: absolute;
  top: 545px;
  left: 650px;
  width: 290px;
  font-size: 20px;
  border: 0ch;
  border-radius: 5px;
  background-color: #F0F0F0;
  height: 75px;
  width: 300px;
  text-align: center;
}

.img{
  position: absolute;
  top: 545px;
  left: 813px;
  width: 290px;
  font-size: 20px;
  border: 0ch;
  border-radius: 5px;
  background-color: #F0F0F0;
  height: 75px;
  width: 300px;
  text-align: center;
}
.publi4{
  position: absolute;
  top: 650px;
  left: 700px;
  height: 30px;
  width: 200px;
  align-items: center;
  border: 0ch;
  border-radius: 5px;
  background-color: #FFD480;
  font-family: 'SF Pro';
  font-size: 16px;
}

.publi5{
  position: absolute;
  top: 495px;
  left: 650px;
  outline: none;
  font-size: 18px;
  border-radius: 11px;
  color: black;
  border: 0px solid #F0F0F0 ;
  background-color: #F0F0F0;
  height: 35px;
  width: 300px;
  font-size: 16px;
  text-align: center;
}

.publi6{
  position: absolute;
  top: 580px;
  left: 665px;
  outline: none;
  font-size: 18px;
  border-radius: 0px;
  color: black;
  height: 30px;
  width: 280px;
  font-size: 14px;
  text-align: center;
}

.publi7{
  position: absolute;
  top: 580px;
  left: 830px;
  outline: none;
  font-size: 18px;
  border-radius: 0px;
  color: black;
  height: 30px;
  width: 280px;
  font-size: 14px;
  text-align: center;
}

/*PAGINA MENSAJES*/
.mensojo{
  width: 500px;
  height: 100px;
  background: #D9D9D9;
  position:relative;
  left:500px;
  top: 150px;
  border-radius: 3vh;
  z-index: -1;
  
}



.menk{
  position: relative;
  top:10%;
  left: 5%;
  font-size: 16px;
  width: 70%;
  
  display:flex ;
}
.enc{
  position: relative;
  top:10%;
  left: 5%;
  font-size: 16px;
  width: 100%;
  text-align: right;
  display:flex;
  font-weight: 1000;
}
.cork{
  position: relative;
  top:10%;
  left: 5%;
  font-size: 16px;
  width: 100%;
  text-align: right;
  display:flex ;
}

/*ADMINISTRAR USUARIOS*/

.usernormal{
  position: absolute;
  top: 100px;
  left:600px;
}
.userestud{
  position: absolute;
  top: 100px;
  left:700px;
}
.seltion{
  width: 50px;
  height: 5px;
  background: #F56262;
  position:absolute;
  left: 599px;
  top: 120px;
  border-radius: 1vh;
  z-index: 1;
}
.seltion1{
  width: 70px;
  height: 5px;
  background: #F56262;
  position:absolute;
  left: 699px;
  top: 120px;
  border-radius: 1vh;
  z-index: 1;
}
.tablauser{
  position: relative;
  top: 150px;
  left:400px;
}
.tablauser1{
  position: relative;
  top: 190px;
  left:300px;
}
.tablauser3{
  position: relative;
  top: 190px;
  left:5px;
}
.tr{
  border: 1px solid black;
}

.aggus{
  position: relative;
  top: 140px;
  left: 1px;
  align-items: center;
}

.aggus1{
  position: relative;
  top: 150px;
  left: 200px;
  align-items: center;
}
.titls{
  margin: 0;
  padding: 10px;
  background-color: #FCA180;
  color: black;
  position: relative;
  text-align: center;
}
.container__form{
  background-color: #FFD480;
  box-shadow: 0 0 20px #333;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}
.container__input{
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px;
}
.container__submit{
  background-color: #F56262;  
  border: 0px;
  border-radius: 11vh;
  height: 30px;
}
.container__submit:hover{
  background-color: #FCA180;  
  border: 0px;
  border-radius: 11vh;
}